

<hr>
<hr>
<h2> My PlayList</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Song Name</th>
            <th> Singer Name </th>
            <th> Album Name</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let song of songs" >
            <td> {{ song.songName }} </td>
            <td> {{ song.singerName }} </td>
            <td> {{ song.albumName }} </td>
            <td>
                <button (click) = "updateSong(song.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteSong(song.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "songDetails(song.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
              
            </td>
        </tr>
    </tbody>
</table>



